.jumbotron{
    background-image: url('../img/playa_3.webp');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 50px;
}
.jumbotron h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Source Serif Pro';
    color: white;
    margin-top: 60px;
    margin-right: 700px;
}

footer{
    padding: 10px 10px 0 10px;
    background:rgb(60, 61, 104);
    margin-bottom: 0;
    margin-top: 20px;
    color:white;
}
footer a{
    color: white;
}
.card-hotel{
    flex: 1 130px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
    background:rgb(60, 61, 104); 
}
.footer-addres-icon{
    padding-right: 10px;
}